{% extends "base.html" %}
{% block content %}

<style>
td {
    border: solid 2px lightgrey;
}
</style>

    <h2>Question</h2>
    <table>
        <tr>
          <td><b>id</b></td>
          <td>{{ question.id }}</td>
        </tr>
        <tr>
          <td><b>text</b></td>
          <td>{{ question.text }}</td>
        </tr>
        <tr>
          <td><b>kind</b></td>
          <td>{{ question.kind }}</td>
        </tr>
        <tr>
          <td><b>required</b></td>
          <td>{{ question.required }}</td>
        </tr>
        <tr>
          <td><b>editable</b></td>
          <td>{{ question.editable }}</td>
        </tr>
        <tr>
          <td><b>choices</b></td>
          <td>{{ question.choices }}</td>
        </tr>
        <tr>
          <td><b>correct_choices</b></td>
          <td>{{ question.correct_choices }}</td>
        </tr>
        <tr>
            <td><b>created</b></td>
            <td>{{ question.created }}</td>
        </tr>
        <tr>
            <td><b>modified</b></td>
            <td>{{ question.modified }}</td>
        </tr>
    </table>
{% endblock %}
