{% extends "base.html" %}
{% block content %}

<style>
td {
    border: solid 2px lightgrey;
}
</style>

<h2>Quizzes</h2>
<table>
    {% for quiz in quiz_list %}
        <tr>
            <td><b>id</b></td>
            <td><a href="/quiz/quiz/{{ quiz.id }}">{{ quiz.id }}</a></td>
        </tr>
        <tr>
            <td><b>label</b></td>
            <td>{{ quiz.label }}</td>
        </tr>
        <tr>
            <td><b>created</b></td>
            <td>{{ quiz.created }}</td>
        </tr>
        <tr>
            <td><b>modified</b></td>
            <td>{{ quiz.modified }}</td>
        </tr>
        <tr><td colspan="2"><hr></td></tr>
    {% endfor %}
</table>
{% endblock %}
